body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.fa {
    margin: 5px;
}

#main-nav {
    background: #393939;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    position: fixed;
    top: 0;
}

#main-nav a {
    color: #f2f2f2;
    text-decoration: none;

}

#main-nav a:hover {
    
    opacity: 0.7;
}

#main-header {
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcs2.worldofmods.com%2Fscreenshots%2Ff80ce%2F2015-09%2Foriginal%2F3fcef9929b66935fc24369af20feba9afe7c1f31%2F173442-javaw-2015-09-26-11-37-36-70.jpg&f=1&nofb=1");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 20%;
}

#main-header h1 {
    color: #fff;
}

a {
    color: #555;
}

a:hover {
    opacity: 0.5;
}

h1 {
    text-align: center;
}

#content {
    margin: 5% auto;
    width: 90%;
}

iframe {
    width: 100%;
    min-height: 800px;
}

#main-footer {
    background: #393939;
    color: #f2f2f2;
    padding: 5%;
}

#main-footer .fab {
    font-size: 150%;
    margin: 2%;
}

.fa-instagram {
    color: #C13584;
}

.fa-discord {
    color: #7289DA;
}

.fa-reddit {
    color: #ff4301;
}

.fa-whatsapp {
    color: #128C7E;
}

.fa-telegram {
    color: #0088cc;
}